
ToolProject/.classpath
ToolProject/.project
ToolProject/.settings/.jsdtscope
ToolProject/.settings/org.eclipse.jdt.core.prefs
*.MF
ToolProject/.settings/org.eclipse.wst.jsdt.ui.superType.name
ToolProject/.settings/org.eclipse.wst.jsdt.ui.superType.container
ToolProject/.settings/org.eclipse.wst.common.project.facet.core.xml
ToolProject/.settings/org.eclipse.wst.common.component
ToolProject/.settings/org.eclipse.core.resources.prefs
